asn1crypto==0.24.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==3.2
dukpy==0.2.1
future==0.16.0
idna==2.7
javascripthon==0.10
jieba==0.39
Jinja2==2.11.3
jupyter-echarts-pypkg==0.1.2
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.0
Pillow==9.0.1
pycparser==2.18
pyecharts==0.5.9
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
PyMySQL==0.9.2
requests==2.20.0
six==1.11.0
SQLAlchemy==1.2.11
urllib3==1.26.5
